    * {
        margin: 0;
        padding: 0
    }
    
    .header {
        background-color: #222;
    }
    
    .conteiner1 {
        display: flex;
        justify-content: center;
    }
    
    .logo1 {
        padding-top: 18px;
        padding-bottom: 19px;
        padding-left: 231px;
        padding-right: 41px;
    }
    
    .logo2 {
        padding-top: 28.21px;
        padding-bottom: 20px;
        padding-right: 859px;
    }
    
    .logo3 {
        padding-top: 30px;
        padding-bottom: 22px;
        padding-right: 33px;
    }
    
    .logo4 {
        padding-top: 26px;
        padding-bottom: 20px;
        padding-right: 33px;
    }
    
    .logo5 {
        padding-top: 26px;
        padding-bottom: 20px;
        padding-right: 240px;
    }
    
    .top_content {
        background-color: #F1E4E6;
        display: flex;
        justify-content: center;
    }
    
    .left {
        padding-right: 799.42px;
        padding-right: 63.42px;
    }
    
    .right {
        padding-top: 290px;
        padding-bottom: 382.1px;
        display: flex;
        justify-content: flex-start;
        padding-right: 10px;
    }
    
    .h1 {
        width: 377px;
        height: 93px;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding-left: 10px;
        text-align: left;
        line-height: 25px;
        padding-top: 11px;
        flex-wrap: wrap;
    }
    
    .h1 span {
        color: #222;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: right;
        white-space: pre-wrap;
    }
    
    .h1 span2 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .item {
        background-color: rgba(33, 22, 22, 0.70);
        background-blend-mode: overlay;
        overflow: hidden;
    }
    
    .item_long {
        background-color: rgba(33, 22, 22, 0.70);
        background-blend-mode: overlay;
        overflow: hidden;
    }
    
    .item_text {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .item_text span {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .top1 {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        margin-top: 60px;
    }
    
    .item_long {
        grid-column: span 3;
    }
    
    .top2 {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        margin-top: 60px;
    }
    
    .item_text1 {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .p {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .p2 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 96px;
    }
    
    .title2 {
        display: flex;
        justify-content: center;
        padding-top: 6px;
    }
    
    .t .p12 {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .top3{
        background-color: #222224;
        display: flex;
        justify-content: center;
    }
    .p1{
        width: 360px;
        height: 34px;
        color: #FBFBFB;
        text-align: center;
        font-family: Lato;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        justify-content: end;
        padding-top: 16px;
        padding-bottom: 104px;
    }
    .h31{
        color: #FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        padding-top: 28.07px;
    }
    .img32{
        display: flex;
        justify-content: center;
        padding-top: 103px;
    }
    .top4{
        display: flex;
        justify-content: center;
    }
    .p4{
        width: 359.449px;
        height: 99px;
        flex-shrink: 0; 
        color: #222224;
        text-align: center;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .img4{
        display: flex;
        justify-content: center;
        padding-top: 97px;
        padding-bottom: 34px;
    }
    .p41{
        color: #222224;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
        padding-top: 150px;
    }
    .p41 span{
        color: #222224;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        white-space: normal;
    }
    .left_part{
        padding-right: 327.26px;
    }
    .img41{
        padding-top: 32px;
        padding-bottom: 156px;
    }
    .footer{
        display: flex;
        justify-content: center;
        background-color: #222224;
    }
    .left_footer{
        padding-right: 655px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pf{
        color: #FBFBFB;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .imgf1{
        background-color: #FFF;
        width: 31.451px;
        height: 32px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 23px;
        padding-right: 7.29px;

    }
.right_footer{
    display: flex;
    justify-content: center;
}
        
